
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    padding: 10px 20px;
}

.logo{
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

.menu{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu li {
    position: relative;
}

.menu a {
    color: whithe;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.menu a:hover {
    background-color: #444;
}

.dropdown:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    position: none;
    background-color: #333;
    top: 100%;
    left: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 180px;
}

.submenu li {
    padding: 10px;
}

.hero {
    text-align: center;
    padding: 50px;
    background: #ddd;
}
